@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
  font-family: 'Kanit', sans-serif;
}
nav.navbar {
  padding: 0px 0px;
  vertical-align: baseline;
}
#id-btn-uname {
  display: inline;
  vertical-align: middle;
}
#id-btn-uname.dropdown-toggle::after {
  content: none;
}
.dropdown-menu-ul.dropdown-menu {
  min-width: 140px;
  max-width: 140px;
  width: 100%;
  margin-left: 12%;
  margin-right: 12%;
}
div.dropdown-user:Hover .dropdown-menu {
  display: block;
}
div.dropdown-user:focus .dropdown-menu {
  display: block;
}
.logo {
  font-size: 28px;
  font-weight: semi bold;
  color: rgba(84, 37, 21, 1);
  padding: 0px 0px;
  margin-right: 120px;
}
.img-profile {
  width: 50px;
  height: 50px;
}
.fontNav {
  font-size: 18px;
  font-weight: semi bold;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-item .nav_link_text{
  color: rgba(84, 37, 21, 1);
  padding: 0px 25px 0px 25px;
  text-align: center;
}
a.nav-link{
  text-decoration: none;
  color: rgba(84, 37, 21, 1);
  text-align: center;
}
a.nav-link:hover{
  text-decoration: none;
  color: rgba(84, 37, 21, 1);
}
a.nav-link:focus{
  text-decoration: none;
  color: rgba(84, 37, 21, 1);
  }
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
.nav-fix-width{
  margin: 20px 10% 20px 10%;
}
a.button-regis {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(255, 102, 51, 1);
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0px 20px 0px 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.button-regis:hover,
a.button-regis:focus {
  background-color: rgba(255, 102, 51, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
}
a.button-regis:hover {
  transform: translateY(-1px);
}
a.button-regis:active {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(255, 102, 51, 1) 1px 1px 1px 1px;
  transform: translateY(0);
  color: rgba(255, 102, 51, 1);
}
a.button-login {
  align-items: center;
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: #fa6400 0px 1px 0px 1px;
  box-sizing: border-box;
  color: #fa6400;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2.8rem;
  padding: 0px 25px 0px 25px;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
a.button-login:hover,
a.button-login:focus {
  background-color: #ffffff;
  box-shadow: #fa6400 0 2px 4px;
  color: #fa6400;
}
a.button-login:hover {
  transform: translateY(-1px);
}
a.button-login:active {
  background-color: rgba(255, 102, 51, 1);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
  color: #fff;
}
.usrlist {
  text-decoration: none;
}